/* Color */
/* -------------------------------------- */
:root {
	--black: #1e1f1f;
	--label: #7f858d;
	--green: #596d48;
	--default-input-border: #e5e7eb;
	--right-background: #f9fafb;
}

/* Layout of Pages */
/* -------------------------------------- */
html,
body {
	box-sizing: border-box;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
}

/*
  From Wesbos CSS Grid Course
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}

em,
i,
dfn {
	font-style: italic;
}

/* Layout for Left and Right Side */
/* ---------------------------------- */
main {
	display: grid;
	grid-template-areas: 'left left right right right';
	/* 
		100vh this is used to make entire main element take entire viewport screen. So that background image 
		can take up all the space
	*/
	height: 100vh;
}

/* Left Side Layout */
/* ---------------------------------- */
main .left {
	/* Area to be placed */
	grid-area: left;

	/* Bck Image */
	background-image: url('../images/cover1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/* Organize Logo Container and Credits */
	display: grid;
	align-items: center;
}

/* Left Side Content */
/* ---------------------------------- */
.logo-container {
	display: flex;
	justify-content: center;
	gap: 0.5rem;

	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	/* font-family: Norse; */
	font-family: 'Norse', sans-serif;

	padding: 0.5rem;
}

.logo-container img {
	max-width: 100%;
	height: 14vh;
}

.logo-container h1 {
	font-size: 4rem;
	align-self: center;
}

.left p {
	position: relative;
	top: 45%;
	margin: 0 auto;
}

.left a,
.left p {
	color: #fff;
	font-size: 0.8rem;
}

/* Right Side Layout */
/* ---------------------------------- */
main .right {
	/* Area to be placed */
	grid-area: right;

	background-color: var(--right-background);

	/* Layout right side */
	display: grid;
	align-items: center;
}

/* Intro Section (First Row) */
/* ---------------------------------- */
.intro-section {
	display: grid;
	gap: 1.5rem;
	justify-content: center;

	margin: 0 auto;
	margin-left: 2.5rem;

	font-weight: 600;
}

.intro-section > div {
	display: grid;
	gap: 0.5rem;
	width: 70%;
}

/* Form Section (Second Row) */
/* ---------------------------------- */
.form-section {
	background-color: #fff;
	/* Borrowed from Tailwindcss styling of box-shadow: https://tailwindcss.com/docs/box-shadow#basic-usage */
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.form-section > div {
	display: grid;
	gap: 1.5rem;
	margin-left: 2.5rem;

	padding-top: 1.938rem;
	padding-bottom: 1.938rem;
}

.form-section h2 {
	font-weight: 900;
}

form {
	/* For layout the entire form */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
	width: 58%;
}

.left-inputs,
.right-inputs {
	display: grid;
	gap: 1rem;
}

label {
	display: grid;
	gap: 0.1rem;

	color: var(--black);
	font-family: 'Open Sans';
	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
}

input {
	border: 1px solid var(--default-input-border);
}

input[name='last-name'] {
	border-radius: 1px;
	border: 1px solid blue;
	/* Borrowed from tailwind css: https://tailwindcss.com/docs/box-shadow */
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

input:invalid {
	border-color: red;
}

label[for='password'] span {
	color: red;
	font-size: smaller;
	font-weight: normal;
	text-transform: capitalize;
}

/* User Actions Section (Third Row) */
/* ---------------------------------- */
.user-actions-section {
	display: grid;
	justify-items: left;
	gap: 1.5rem;

	margin-left: 2.5rem;
}

button {
	border: none;
	padding: 0.7rem;
	border-radius: 0.3rem;
	width: 9rem;
	color: white;
	background-color: var(--green);
	font-weight: bolder;
}

.user-actions-section a {
	color: var(--green);
	font-weight: bold;
	text-decoration: none;
}

/* Media Queries Used for 1024, 768, and 425 viewports */
/* ---------------------------------- */
@media only screen and (max-width: 1024px) {
	.left p {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	main .right {
		gap: 2rem;
	}

	.intro-section,
	.user-actions-section {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 426px) {
	main {
		grid-template-areas:
			'left left left'
			'right right right';
	}

	main .left {
		height: 50vh;
	}

	.left p {
		text-align: center;
		top: 30%;
		margin-left: 0;
		margin-right: 0;
	}

	.intro-section {
		justify-items: center;
		margin-left: unset;
		text-align: center;
	}

	.form-section > div {
		margin: 0 auto;
		justify-content: center;
	}

	.user-actions-section {
		justify-items: center;
		margin-left: 0;
	}
}
